{% load i18n %}
<div class="row separador-row text-center">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h2>
            <a href="#" class="download-file"
               {% if url_down and app and mod %}
                    onclick="descargar_archivo('{{ url_down }}', '{{ app }}', '{{ mod }}', '{' + $('#filters').val() + '}')"
               {% endif %}>
                <i class="fa fa-download"></i> {% trans 'Descargar archivo' %}
            </a>
        </h2>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h2>
            <a href="#" class="upload-file">
                <i class="fa fa-upload"></i> {% trans 'Cargar archivo' %}
            </a>
            <form id="form-upload-file" action="{{ url_up }}" method="post" role="form">
                {% csrf_token %}
                <input type="file" class="form-control" name="file" id="file" style="display:none">
                <input type="hidden" id="filters" name="filter" readonly="readonly">
                <input type="hidden" id="app" name="app" value="{{ app }}" readonly="readonly">
                <input type="hidden" id="mod" name="mod" value="{{ mod }}" readonly="readonly">
            </form>
        </h2>
    </div>
</div>