{% load i18n %}
{# Select de balanza comercial con todos los valores #}
<script type="text/html" id="balanza-comercial_completa">
    <option value="">{% trans 'Seleccione...' %}</option>
    <option value="BB">Balanza Comercial Bolívares</option>
    <option value="BD">Balanza Comercial Dólares</option>
</script>

{# Select de balanza comercial sólo con bolívares #}
<script type="text/html" id="balanza-comercial_bs">
    <option value="">{% trans 'Seleccione...' %}</option>
    <option value="BB">Balanza Comercial Bolívares</option>
</script>
