{% load static from staticfiles %}
{% load i18n %}
<div class="row content-login">
    <div class="col-md-6">
        {% include 'base.carousel.template.html' %}
    </div>
    <div class="col-md-6">
        {% csrf_token %}
        <div class="box box-primary text-center">
            <form action="" method="post" role="form">
                <div class="box-header with-border text-left">
                    <h3 class="box-title">{% block box_acceso_titulo %}{% trans 'Acceso' %}{% endblock %}</h3>
                </div>
                <div class="box-body">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        <div class="form-group {% if field.errors %}has-error{% endif %} {% if field.field.required %}has-feedback{% endif %}">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label text-left" for="{{ field.auto_id }}">
                                {{ field.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9 text-left">
                                <div class="form-inline">
                                    {{ field }}
                                    {% if field.field.required %}
                                        <i class="ion ion-ios-medical item-requerido"></i>
                                    {% endif %}
                                </div>
                                <span class="help-block">{{ field.help_text }}</span>
                                <div class="row">
                                    <div class="col-sm-12">
                                        {% include 'base.form.errors.html' with form_errors=field.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
                <div class="box-footer text-right">
                    <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip"
                            title="{% trans 'Precione el boton para acceder al sistema' %}">
                        {% trans 'Ingresar' %}
                    </button>
                    <button type="reset" class="btn btn-default btn-sm" data-toggle="tooltip"
                            title="{% trans 'Presione el botón para limpiar los datos del formulario' %}">
                        {% trans 'Limpiar' %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>