{% extends 'base.template.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content_header_title %}{% trans 'CARGAR DATOS' %}{% endblock %}
{% block content_header_roadmap %}
    <li><a href="{% url 'economico-cargar-datos' %}">{% trans 'Economía - Cargar Datos' %}</a></li>
    <li class="active">{% block active_link %}{% trans 'Real - Demanda Global' %}{% endblock %}</li>
{% endblock %}
{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">{% trans 'Economía' %} - {% trans 'Real' %} - {% trans 'Demanda Global' %}</h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p>
                        {% blocktrans %}
                            Para cargar los datos asociados a la <b>Demanda Agregada </b> seleccione el
                            elemento y año base.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
            <div class="row separador-row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                    <label for="{{ form.tipo.auto_id }}" class="control-label">{{ form.tipo.label }}</label>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    {{ form.tipo }}
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <label for="{{ form.anho_base.auto_id }}" class="control-label">{{ form.anho_base.label }}</label>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    {{ form.anho_base }}
                </div>
            </div>
            <div class="row separador-row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-6 col-sm-offset-6 col-md-offset-6 col-lg-offset-6">
                    <label class="control-label">{% trans 'Trimestral' %}</label>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <label class="control-label">{% trans 'Año' %}</label>
                </div>
            </div>
            <div class="row separador-row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                    <label class="control-label">{% trans 'Período' %}</label>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <label class="control-label">{{ form.periodo_trimestre_ini.label }}</label>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">{{ form.periodo_trimestre_ini }}</div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">{{ form.periodo_anho_ini }}</div>
            </div>
            <div class="row separador-row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
                    <label class="control-label">{{ form.periodo_trimestre_fin.label }}</label>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">{{ form.periodo_trimestre_fin }}</div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">{{ form.periodo_anho_fin }}</div>
            </div>
            <div id='oculto' style='display:none;'>
                {% include 'base.down.up.files.html' with app='economico' mod='DemandaGlobal'%}
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_footer %}

    <script>
    /**
    * @brief El Script configura todos los filtros que seleccione el usuario y ademas de ello hace las validaciones pertinentes sobre dicha selección
    *
    * @author Ing. Roldan Vargas (rvargas at cenditel.gob.ve)
    * @author Ing. Luis Barrios (lbarrios at cenditel.gob.ve)
    * @copyright GNU/GPLv2
    * @date 05-04-2017
    * @return me devuelve la seleccion que realiza el usuario luego de verificarla
    */ 

        var tipo = $('#{{ form.tipo.auto_id }}');
        var anho_base = $("#{{ form.anho_base.auto_id }}");
        var periodo_trimestre_ini = $("#{{ form.periodo_trimestre_ini.auto_id }}");
        var periodo_trimestre_fin = $("#{{ form.periodo_trimestre_fin.auto_id }}");
        var periodo_anho_ini = $("#{{ form.periodo_anho_ini.auto_id }}");
        var periodo_anho_fin = $("#{{ form.periodo_anho_fin.auto_id }}");

        /**
         * Función que configura los filtros de acuerdo a la selección del usuario
         */
        function set_filters() {
            var filters = $("#filters"), json_filter = '';

            if (tipo.val()) {
                json_filter += "\"tipo\": \"" + tipo.val() + "\",";
            }
            if (anho_base.val()) {
                json_filter += "\"anho_base\": \"" + anho_base.val() + "\",";
            }
            if (periodo_trimestre_ini.val()) {
                json_filter += "\"trimestre_ini\": \"" + periodo_trimestre_ini.val() + "\",";
            }
            if (periodo_trimestre_fin.val()) {
                json_filter += "\"trimestre_fin\": \"" + periodo_trimestre_fin.val() + "\",";
            }
            if (periodo_anho_ini.val()) {
                json_filter += "\"anho_ini\": \"" + periodo_anho_ini.val() + "\",";
            }
            if (periodo_anho_fin.val()) {
                json_filter += "\"anho_fin\": \"" + periodo_anho_fin.val() + "\",";
            }

            if (json_filter) {
                json_filter = json_filter.slice(0, -1);
                filters.val(json_filter);
            }

            /**
            * Aquí se realiza las validaciones de la selección que realice el usuario.
            */

            if (tipo.val()!='' && anho_base.val()!='' && periodo_trimestre_ini.val()!='' && periodo_trimestre_fin.val()!='' && periodo_anho_ini.val()!='' && periodo_anho_fin.val()!=''){

                if (tipo.val() == 'DG'){

                    if (parseInt(periodo_anho_fin.val()) == parseInt(periodo_anho_ini.val()) && parseInt(periodo_trimestre_ini.val()) <= parseInt(periodo_trimestre_fin.val())){
                    
                        document.getElementById('oculto').style.display = 'block';
                    }

                    else if (parseInt(periodo_anho_fin.val()) > parseInt(periodo_anho_ini.val())){
                    
                        document.getElementById('oculto').style.display = 'block';  
                    }

                    else{
                        //bootbox.alert('Verificar su selección');
                        document.getElementById('oculto').style.display = 'none';
                    }
                }
                else{
                    //bootbox.alert('Verificar su selección');
                    document.getElementById('oculto').style.display = 'none';
                }
            }
        }

        /**
        * A medida que se realizan las selecciones voy modificando los filtros
        */
        $(document).ready(function() {
            tipo.on('change', function() {set_filters()});
            anho_base.on('change', function() { set_filters() });
            periodo_trimestre_ini.on('change', function() { set_filters() });
            periodo_trimestre_fin.on('change', function() { set_filters() });
            periodo_anho_ini.on('change', function() { set_filters() });
            periodo_anho_fin.on('change', function() { set_filters() });

            $('.fileinput-upload-button').click(function(event){
                event.preventDefault();
                var fdata = new FormData();
                fdata.append('file',file.files[0]);
                $.ajax({
                    url: URL_CARGAR_ARCHIVO_CM+models,
                    data: fdata,
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    dataType: 'json',
                    success: function(data){
                        var msg = data.message ? data.result : data.error;
                        bootbox.alert(msg);
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            });

        });
    </script>
{% endblock %}