{% extends 'base.template.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content_header_title %}{% trans 'CARGAR DATOS' %}{% endblock %}
{% block content_header_roadmap %}
    <li><a href="{% url 'economico-cargar-datos' %}">{% trans 'Economía - Cargar Datos' %}</a></li>
    <li class="active">{% block active_link %}{% trans 'Externo - Reservas, Tipo de Cambio' %}{% endblock %}</li>
{% endblock %}
{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">{% trans 'Economía' %} - {% trans 'Externo' %} - {% trans 'Reservas, Tipo de Cambio' %}</h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-8 col-sm-offset-8 col-md-offset-8 col-lg-offset-8 text-center reservas">
                    <label class="control-label">{% trans 'Diarias' %}</label>
                </div>
            </div>
            <div class="row separador-row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                    <label for="{{ form.dominio.auto_id }}" class="control-label">{{ form.dominio.label }}</label>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    {{ form.dominio }}
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <label class="control-label">{% trans 'Período' %}</label>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <label for="{{ form.start_date.auto_id }}" class="control-label">{{ form.start_date.label }}</label>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 reservas">
                    <div class="input-group">
                        {{ form.start_date }}
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="row separador-row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xs-offset-7 col-sm-offset-7 col-md-offset-7 col-lg-offset-7">
                    <label for="{{ form.end_date.auto_id }}" class="control-label">{{ form.end_date.label }}</label>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 reservas">
                    <div class="input-group">
                        {{ form.end_date }}
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div id='TipoCambio' style='display:none;'>
                {% include 'base.down.up.files.html' with url_down='/gestion-informacion/ajax/descargar_archivo' url_up='/gestion-informacion/ajax/cargar_archivo' app='economico' mod='TipoCambio' %}    
            </div>
            <div id='ReservasInternacionales' style='display:none;'>
                {% include 'base.down.up.files.html' with url_down='/gestion-informacion/ajax/descargar_archivo' url_up='/gestion-informacion/ajax/cargar_archivo' app='economico' mod='ReservasInternacionales' %}   
            </div>
            
        </div>
    </div>
{% endblock %}

{% block extra_footer %}

    <script>
    /**
    * @brief El Script configura todos los filtros que seleccione el usuario y ademas de ello hace las validaciones pertinentes sobre dicha selección
    *
    * @author Ing. Luis Barrios (lbarrios at cenditel.gob.ve)
    * @copyright GNU/GPLv2
    * @date 25-05-2017
    * @return me devuelve la seleccion que realiza el usuario luego de verificarla
    */ 

        var dominio = $('#{{ form.dominio.auto_id }}');
        var start_date = $("#{{ form.start_date.auto_id }}");
        var end_date = $("#{{ form.end_date.auto_id }}");
        

        /**
         * Función que configura los filtros de acuerdo a la selección del usuario
         */
        function set_filters() {
            var filters = $("#filters"), json_filter = '';

            if (dominio.val()) {
                json_filter += "\"dominio\": \"" + dominio.val() + "\",";
            }
            if (start_date.val()) {
                json_filter += "\"start_date\": \"" + start_date.val() + "\",";
            }
            if (end_date.val()) {
                json_filter += "\"end_date\": \"" + end_date.val() + "\",";
            }

            if (json_filter) {
                json_filter = json_filter.slice(0, -1);
                filters.val(json_filter);
            }

            /**
            * Aquí se realiza las validaciones de la selección que realice el usuario.
            */

            if(dominio.val()=='TC'){
                if (Date.parse(start_date.val())<=Date.parse(end_date.val())){
                    document.getElementById('TipoCambio').style.display = 'block';
                    document.getElementById('ReservasInternacionales').style.display = 'none';
                }
                else{
                    bootbox.alert('La fecha inicial no puede mayor a la fecha final ');
                    document.getElementById('TipoCambio').style.display = 'none';
                    document.getElementById('ReservasInternacionales').style.display = 'none';
                }
            }
            
            if(dominio.val()=='RI'){
                if (Date.parse(start_date.val())<=Date.parse(end_date.val())){
                    document.getElementById('ReservasInternacionales').style.display = 'block';
                    document.getElementById('TipoCambio').style.display = 'none';
                }
                else{
                    bootbox.alert('La fecha inicial no puede mayor a la fecha final ');
                    document.getElementById('TipoCambio').style.display = 'none';
                    document.getElementById('ReservasInternacionales').style.display = 'none';
                }
            }
             if(dominio.val()==''){
                bootbox.alert('Debe seleccionar un Dominio');
                document.getElementById('TipoCambio').style.display = 'none';
                document.getElementById('ReservasInternacionales').style.display = 'none';
            }
        }
        /**
        * A medida que se realizan las selecciones voy modificando los filtros
        */
            $(document).ready(function() {
            dominio.on('change', function() {set_filters()});
            start_date.on('change', function() { set_filters() });
            end_date.on('change', function() { set_filters() });
            end_date.on('keyup', function() { set_filters() });

        });
    </script>
{% endblock %}

