{% extends 'base.template.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content_header_title %}{% trans 'CARGAR DATOS' %}{% endblock %}
{% block content_header_roadmap %}
    <li><a href="{% url 'economico-cargar-datos' %}">{% trans 'Economía - Cargar Datos' %}</a></li>
    <li class="active">{% block active_link %}{% trans 'Monetario - Tasas de Interés' %}{% endblock %}</li>
{% endblock %}
{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">{% trans 'Economía' %} - {% trans 'Monetario' %} - {% trans 'Tasas de Interés' %}</h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xs-offset-6 col-sm-offset-6 col-md-offset-6 col-lg-offset-6 text-center">
                    <label class="control-label">{% trans 'Semana' %}</label>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-center">
                    <label class="control-label">{% trans 'Mes' %}</label>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-center">
                    <label class="control-label">{% trans 'Año' %}</label>
                </div>
            </div>
            <div class="row separador-row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
                    <label class="control-label">{% trans 'Período' %}</label>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <label for="{{ form.periodo_semana_ini.auto_id }}" class="control-label">
                        {{ form.periodo_semana_ini.label }}
                    </label>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ form.periodo_semana_ini }}</div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ form.periodo_mes_ini }}</div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ form.periodo_anho_ini }}</div>
            </div>
            <div class="row separador-row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5">
                    <label for="{{ form.periodo_semana_fin.auto_id }}" class="control-label">
                        {{ form.periodo_semana_fin.label }}
                    </label>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ form.periodo_semana_fin }}</div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ form.periodo_mes_fin }}</div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ form.periodo_anho_fin }}</div>
            </div>
            {% include 'base.down.up.files.html' %}
        </div>
    </div>
{% endblock %}