{% extends 'base.tabs.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content_header_title %}{% trans 'CONSULTAR DATOS' %}{% endblock %}
{% block content_header_roadmap %}
    <li><a href="{% url 'economico-consultar-datos' %}">{% trans 'Economía - Consultar Datos' %}</a></li>
    <li class="active">{% block active_link %}{% trans 'Real - Precios' %}{% endblock %}</li>
{% endblock %}


{% block extra_footer %}

    <script>
        var tree = [
            {text: "Índice Nacional de Precios al Consumidor"},
            {
                text: "1. Por",
                nodes: [
                    {text: 'Bienes'},
                    {text: 'Agricolas'},
                    {text: 'Productos Pesqueros'},
                    {text: 'Agroindustriales'},
                    {text: 'Productos manufacturados'}
                ]
            },
            {
                text: "2. Por sector de origen",
                nodes: [
                    {text: "Bienes durables"},
                    {text: "Bienes semidurables"},
                    {text: "Bienes no durables"}
                ]
            },
            {
                text: "3. Por Grupo",
                nodes: [
                    {text: "Alimentos y bebidas no alcohólicas"},
                    {text: "Bebidas alcohólicas y tabaco"},
                    {text: "Vestido y calzado"},
                    {text: "Alquiler de vivienda"},
                    {text: "Servicios de vivienda"},
                    {text: "Equipamiento del hogar"},
                    {text: "Salud"},
                    {text: "Transporte"},
                    {text: "Comunicaciones"},
                    {text: "Exparcimiento y cultura"},
                    {text: "Servicios de educación"},
                    {text: "Restaurantes y hoteles"},
                    {text: "Bienes y servicios diversos"}
                ]
            },
            {
                text: "4. Por Servicios",
                nodes: [
                    {text: "Total Servicios"},
                    {text: "Servicios Básicos"},
                    {text: "Otros Servicios"}
                ]
            },
            {
                text: "5. Por Productos Controlados",
                nodes: [
                    {text: "Controlados"},
                    {text: "No Controlados"}
                ]
            },
            {
                text: "6. Índice del Núcleo Inflacionario",
                nodes: [
                    {text: "Núcleo Inflacionario"},
                    {text: "Alimentos Elaborados"},
                    {text: "Téxtiles y prendas de vestir"},
                    {text: "Bienes Industriales excepto alimentos y textiles"},
                    {text: "Servicios no administrados"}
                ]
            }
        ];
        $('#col-variables').treeview({data: tree, showBorder: false, showCheckbox: true, levels: 1});
    </script>


{% endblock %}
