{% extends 'base.tabs.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content_header_title %}{% trans 'CONSULTAR DATOS' %}{% endblock %}
{% block content_header_roadmap %}
    <li><a href="{% url 'economico-consultar-datos' %}">{% trans 'Economía - Consultar Datos' %}</a></li>
    <li class="active">{% block active_link %}{% trans 'Real - Precios' %}{% endblock %}</li>
{% endblock %}

{% block consult_params %}
    <div class="panel-body">
        <div class="row separador-row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="row separador-row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <label for="form.dominio.auto_id" class="control-label">{{ form.dominio.label }}</label>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ form.dominio }}</div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-2">
                        <label for="form.anho_base.auto_id" class="control-label">{{ form.anho_base.label }}</label>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ form.anho_base }}</div>
                </div>
            </div>
        </div>
        <div class="row separador-row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <label class="control-label">{{ form.elementos.label }}</label>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ form.elementos }}</div>
        </div>
        <div class="row separador-row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <label class="control-label">{{ form.periodicidad.label }}</label>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ form.periodicidad }}</div>
        </div>
        <div class="row separador-row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
                <label class="control-label">{% trans 'Mes' %}</label>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label class="control-label">{% trans 'Año' %}</label>
            </div>
        </div>
        <div class="row separador-row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <label class="control-label">{{ form.periodo_mes_ini.label }}</label>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ form.periodo_mes_ini }}</div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ form.periodo_anho_ini }}</div>
        </div>
        <div class="row separador-row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <label class="control-label">{{ form.periodo_mes_fin.label }}</label>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ form.periodo_mes_fin }}</div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ form.periodo_anho_fin }}</div>
        </div>
        <div id='oculto' style='display:none;'>
            <button type="submit" class="btn btn-info pull-left separador-row">Consultar</button>
        </div>
{% endblock %}

{% block extra_footer %}
    {{ block.super }}
    <script>
        /*Manejo cada nodo como arbol independiente*/
        $("#tree_view").append("<div id='col-variables1' class='col-md-12'></div>");
        $("#tree_view").append("<div id='col-variables2' class='col-md-12'></div>");
        $("#tree_view").append("<div id='col-variables3' class='col-md-12'></div>");
        $("#tree_view").append("<div id='col-variables4' class='col-md-12'></div>");
        $("#tree_view").append("<div id='col-variables5' class='col-md-12'></div>");
        $("#tree_view").append("<div id='col-variables6' class='col-md-12'></div>");
        
        /*Especifico cada arbol*/
        var raiz = [
            {text: "Índice Nacional de Precios al Consumidor"}
            ];
        var nodo1 = [    
            {
                text: "1. Por Naturaleza",
                nodes: [
                    {text: 'Bienes'},
                    {text: 'Agricolas'},
                    {text: 'Productos Pesqueros'},
                    {text: 'Agroindustriales'},
                    {text: 'Productos manufacturados'}
                ]
            }
            ];
        var nodo2 = [ 
            {
                text: "2. Por sector de origen",
                nodes: [
                    {text: "Bienes durables"},
                    {text: "Bienes semidurables"},
                    {text: "Bienes no durables"}
                ]
            }
            ];
        var nodo3 = [ 
            {
                text: "3. Por Grupo",
                nodes: [
                    {text: "Alimentos y bebidas no alcohólicas"},
                    {text: "Bebidas alcohólicas y tabaco"},
                    {text: "Vestido y calzado"},
                    {text: "Alquiler de vivienda"},
                    {text: "Servicios de vivienda"},
                    {text: "Equipamiento del hogar"},
                    {text: "Salud"},
                    {text: "Transporte"},
                    {text: "Comunicaciones"},
                    {text: "Exparcimiento y cultura"},
                    {text: "Servicios de educación"},
                    {text: "Restaurantes y hoteles"},
                    {text: "Bienes y servicios diversos"}
                ]
            }
            ];
        var nodo4 = [ 
            {
                text: "4. Por Servicios",
                nodes: [
                    {text: "Total Servicios"},
                    {text: "Servicios Básicos"},
                    {text: "Otros Servicios"}
                ]
            }
            ];
        var nodo5 = [ 
            {
                text: "5. Por Productos Controlados",
                nodes: [
                    {text: "Controlados"},
                    {text: "No Controlados"}
                ]
            }
            ];
        var nodo6 = [ 
            {
                text: "6. Índice del Núcleo Inflacionario",
                nodes: [
                    {text: "Núcleo Inflacionario"},
                    {text: "Alimentos Elaborados"},
                    {text: "Téxtiles y prendas de vestir"},
                    {text: "Bienes Industriales excepto alimentos y textiles"},
                    {text: "Servicios no administrados"}
                ]
            }
        ];
        /*genero cada arbol segun las especificaicones descritas en el item anterior*/
        $('#col-variables').treeview({data: raiz, showBorder: false, showCheckbox: true, levels: 1});
        $('#col-variables1').treeview({data: nodo1, showBorder: false, showCheckbox: true, levels: 1});
        $('#col-variables2').treeview({data: nodo2, showBorder: false, showCheckbox: true, levels: 1});
        $('#col-variables3').treeview({data: nodo3, showBorder: false, showCheckbox: true, levels: 1});
        $('#col-variables4').treeview({data: nodo4, showBorder: false, showCheckbox: true, levels: 1});
        $('#col-variables5').treeview({data: nodo5, showBorder: false, showCheckbox: true, levels: 1});
        $('#col-variables6').treeview({data: nodo6, showBorder: false, showCheckbox: true, levels: 1});

        /*variables para manejar la tabla de los parametros a consultar*/
        var dominio = $('#{{ form.dominio.auto_id }}');
        var anho_base = $("#{{ form.anho_base.auto_id }}");
        var periodo_mes_ini = $("#{{ form.periodo_mes_ini.auto_id }}");
        var periodo_mes_fin = $("#{{ form.periodo_mes_fin.auto_id }}");
        var periodo_anho_ini = $("#{{ form.periodo_anho_ini.auto_id }}");
        var periodo_anho_fin = $("#{{ form.periodo_anho_fin.auto_id }}");

        /**
         * Función que configura los filtros de acuerdo a la selección del usuario
         */
        function set_filters(tree= 0,check=false,nodo) {
            /*validaciones sobre cada arbol*/
            if (check==false)
                for (var i=1; i<7; i++) {
                    if (i!=tree)
                        $('#col-variables'+i).treeview('disableAll');
                }
            else{
                if ($('#col-variables'+tree).treeview('getParent',nodo)['nodeId']!=0){
                    for (var i=1; i<7; i++) {
                        if (i!=tree){                            
                            $('#col-variables'+i).treeview('enableAll');                            
                        }
                    }
                }
            }
            /*validaciones sobre los parametros de consulta OJO -falta anadir validacion sobre periodicidad y elementos a espera de JULIE*/
            if (dominio.val()!='' && anho_base.val()!='' && periodo_mes_ini.val()!='' && periodo_mes_fin.val()!='' && periodo_anho_ini.val()!='' && periodo_anho_fin.val()!=''){

                if (parseInt(periodo_anho_fin.val()) == parseInt(periodo_anho_ini.val()) && parseInt(periodo_mes_ini.val()) <= parseInt(periodo_mes_fin.val())){
                    
                    document.getElementById('oculto').style.display = 'block';
                }
                else if (parseInt(periodo_anho_fin.val()) > parseInt(periodo_anho_ini.val())){
                    document.getElementById('oculto').style.display = 'block';  
                }
                else{
                    document.getElementById('oculto').style.display = 'none';
                }
            }
        }
        $(document).ready(function() {
            /*cada vez que se genere un cambio en alguno de los item se verifica toda la plantilla y solo cuando cunpla con los filtros apertura el boton de consulta*/
            
            dominio.on('change', function() { set_filters() });
            anho_base.on('change', function() { set_filters() });
            periodo_mes_ini.on('change', function() { set_filters() });
            periodo_mes_fin.on('change', function() { set_filters() });
            periodo_anho_ini.on('change', function() { set_filters() });
            periodo_anho_fin.on('change', function() { set_filters() });

            $('#col-variables1').on('nodeChecked', function(event, data) {set_filters(1,false,data)});
            $('#col-variables2').on('nodeChecked', function(event, data) {set_filters(2,false,data)});
            $('#col-variables3').on('nodeChecked', function(event, data) {set_filters(3,false,data)});
            $('#col-variables4').on('nodeChecked', function(event, data) {set_filters(4,false,data)});
            $('#col-variables5').on('nodeChecked', function(event, data) {set_filters(5,false,data)});
            $('#col-variables6').on('nodeChecked', function(event, data) {set_filters(6,false,data)});           
            $('#col-variables1').on('nodeUnchecked', function(event, data) {set_filters(1,true,data)});
            $('#col-variables2').on('nodeUnchecked', function(event, data) {set_filters(2,true,data)});
            $('#col-variables3').on('nodeUnchecked', function(event, data) {set_filters(3,true,data)});
            $('#col-variables4').on('nodeUnchecked', function(event, data) {set_filters(4,true,data)});
            $('#col-variables5').on('nodeUnchecked', function(event, data) {set_filters(5,true,data)});
            $('#col-variables6').on('nodeUnchecked', function(event, data) {set_filters(6,true,data)});
            
            
            
            
        });
    </script>


{% endblock %}
